/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variabili */

:root {
    --bordi-cl: #d8dee9;
    --background-0-cl: #e5e9f0;
    --background-1-cl: #eceff4;
}

/* Corpo principale */
html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;

    background-color: var(--background-0-cl);
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: var(--background-1-cl);
    
    padding: 20px;
    margin: 30px;
}

/* Elementi principali */
h1, h2, h3 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

div > p:nth-child(2) {
    font-style: italic;
}

section > h2 {
    font-size: 23px;
    
    padding-top: 8px;
}

/* Classi */
.C0 {
    border-left: 2px solid var(--bordi-cl);
    border-top: 2px solid var(--bordi-cl);
    border-radius: 12px 0px 0px 0px;

    padding: 6px;
    margin-top: 8px;
}

.C0 > h3 {
    font-size: 23px;

    margin: 8px 12px 8px 12px;
}

.C1 {
    border-left: 2px solid var(--bordi-cl);
    border-top: 2px solid var(--bordi-cl);
    border-radius: 12px 0px 0px 0px;
    
    padding: 6px 6px 6px 12px;
    margin: 8px 0px 0px 12px;
}

.C1 > ul {
    list-style-type: "•  ";

    padding-left: 18px;
}

.C2 {
    font-size: 21px;
    font-weight: 500;
}

.space {
    padding-top: 12px;
}